body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-title {
    color: white;
    font-size: 20px;
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    margin-left: auto;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-color: black;
    box-shadow: 3px 3px 0px black;
}

.btn:hover {
    background-color: #0097a7;
    box-shadow: black 40px;
}

/* */
.profile-card {
    width: 600px;  
    background-color: white;
    border: 0,5px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-left: 20%;
}

.profile-header {
    height: 70px;  
    background-color: #4373a7;
    position: relative;
}

.profile-avatar {
    position: relative;
    top: -30px;  
    left: 20px;  
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #f4f4f4;
    text-align: center;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-info {
    padding-left: 20px;  
}

.profile-info h2 {
    font-size: 1.4rem;
    margin-top: -10px; 
    margin-bottom: 8px; 
}

.profile-info .location {
    color: #666;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.profile-info .location .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.profile-info .description {
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.edit-profile {
    text-decoration: line;
    color: #007bff;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-top: 15px;  
}

.edit-profile .icon {
    width: 16px;
    height: 19px;
    margin-right: 5px;
}

