* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
    height: 40px;
}

.navbar-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    gap: 20px;
    list-style: none; 
    padding-left: 0; 
    margin: 0;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 50px;
    width: 280px;
    background-color: #F1F1F1;
}

.icon-button {
    background-color: white;
    color: #888A8C;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.icon-button1 {
    background-color: #272329;
    color: white;
    border-radius: 20px;
    padding: 13px 24px;
    cursor: pointer;
    font-weight: bold;
}

.navbar-right {
    background-color: #262329;
    height: 70px;
    right: 100vh;
}

.Navbar-perfil img {
    width: 4vh;
    height: 5vh;
}

.Navbar-perfil {
    display: flex;
    flex-direction: column; /* Pone la imagen arriba del texto */
    align-items: center; /* Centra la imagen y el texto */
    text-align: center;
}

.navbar-Cupones img {
    height: 5vh;
    width: 6vh;
    gap: 10px;}

.navbar-Cupones {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.icono-compra {
    height: 7vh;
    width: 7vh;
}

.location button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #262329;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 13vh;
    right: 185vh;
    font-weight: bold;
}

.carousel img {
    width: 100%;
}


